<h1 class="display-4 animate_animated animate_heartBeat">About </h1>
<hr>

<div class="row">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Lamborghini</h5>
            <h6 class="card-text">INFORMACIÓN Y CONTACTO DE LA EMPRESA</h6>
            <p class="card-text">Automobili Lamborghini S.p.A., comúnmente conocido como Lamborghini, es un fabricante italiano de automóviles superdeportivos fundado en 1963 por Ferruccio Lamborghini, que anteriormente era un fabricante </p>
            <h6 class="card-text">Fundación</h6>
            <p class="card-text">7 de mayo de 1963<br> Sant'Agata Bolognese, Italia<br></p>
            <h6 class="card-text">Fundador</h6>
            <p class="card-text"> Ferruccio Lamborghini</p>

            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
        <img src="assets/img/marvel.jpg" class="card-img-bottom" alt="...">
        <br>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Ferrari</h5>
            <h6 class="card-text">INFORMACIÓN Y CONTACTO DE LA EMPRESA</h6>
            <p class="card-text">Ferrari es un fabricante de automóviles superdeportivos con sede en Maranello, provincia de Módena, en la región de Emilia-Romaña, Italia</p>
            <h6 class="card-text">Fundación</h6>
            <p class="card-text">1939<br>  Maranello, Italia<br></p>
            <h6 class="card-text">Fundador</h6>
            <p class="card-text">  Enzo Ferrari</p>

            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Porsche</h5>
            <h6 class="card-text">INFORMACIÓN Y CONTACTO DE LA EMPRESA</h6>
            <p class="card-text">Dr. Ing. h.c. F. Porsche Aktiengesellschaft, normalmente abreviado como Porsche AG​ es un fabricante de automóviles alemán especializado en automóviles deportivos de lujo de alta gama, vehículos utilitarios deportivos y sedanes.</p>
            <h6 class="card-text">Fundación</h6>
            <p class="card-text">25 de abril de 1931<br>  Stuttgart, Alemania<br></p>
            <h6 class="card-text">Fundador</h6>
            <p class="card-text"> Ferdinand Porsche</p>

            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>